.btn {
    font-family: $font-sans;
    font-weight: 500;
    font-size: 1.3rem;
    background-color: transparent;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 1.2rem 1.5rem;
    border-radius: 0;
    margin: 1.5rem 0;

    @include respond(sm) {
        padding: 1.4rem 2.4rem;
        font-size: 1.4rem;
    }

    @include respond(md) {
        padding: 1.4rem 2.7rem;

    }

    // DARK TRANSPARENT BUTTONS
    &-dark {
        color: $scarpa-flow;
        border: 1px solid $scarpa-flow;

        &:hover,
        :active {
            background-color: $mountain-meadow;
            border: 1px solid $mountain-meadow;
            color: $white;
            transition: all .3s linear;
        }

        &:not(:disabled):not(.disabled):active {
            background-color: $white;
            color: $shark;
        }
    }

    // LIGHT WHITE BUTTONS
    &-light {
        color: $white;
        border: 1px solid $white;

        &:hover,
        :active {
            background-color: $white;
            border: 1px solid $white;
            color: $scarpa-flow;
            transition: all .3s linear;
        }
    }

}