.hero {
    padding: 10rem 1rem 12rem 1rem;

    @include respond(sm) {
        padding: 12rem 1rem 14rem 1rem;
    }

    @include respond(md) {
        padding: 17.5rem 0 22rem 0;

        .container {
            padding: 0;
        }
    }

}