.portfolio-item {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 1rem;

  @include respond(lg) {
    img {
      -webkit-transition: -webkit-clip-path 300ms ease-out;
      -webkit-clip-path: inset(-1px);
      clip-path: inset(-1px);
    }

    &:hover {
      img {
        -webkit-clip-path: inset(1rem);
        clip-path: inset(1rem);
      }
    }
  }

}