*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    background-color: $flat-white;
}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

// LIMIT SIZE OF CONTAINER
.container {
    @include respond(lg) {
        max-width: 975px;
    }
}

// HIGHLIGHTING SELECTION COLORS
::selection {
    background-color: $link-color;
    color: $primary-color;
}


