h1 {
    font-size: 2.7rem;
    letter-spacing: 1px;
    font-family: $font-sans;
    color: $shark;
    font-weight: 500;
    margin-bottom: 1.5rem;

    @include respond(sm) {
        font-size: 3rem;
    }

    @include respond(md) {
        font-size: 3.6rem;
    }
}

h2 {
    font-size: 2.2rem;
    letter-spacing: 1px;
    font-family: $font-sans;
    color: $eastern-blue;
    font-weight: 500;
    padding: 1.5rem 0 1rem 0;

    @include respond(sm) {
        font-size: 2.6rem;
        padding: 1.5rem 0;
    }

    @include respond(md) {
        font-size: 2.7rem;
        padding: 1.5rem 0;
    }

}

h3 {
    font-size: 1.6rem;
    font-family: $font-sans;
    color: $shark;
    font-weight: 500;
    padding: 2rem 0 .5rem 0;

    @include respond(sm) {
        font-size: 1.8rem;
    }
}

p {
    font-size: 1.6rem;
    font-family: $font-sans;
    color: $scarpa-flow;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: 0;

    @include respond(sm) {
        font-size: 1.7rem;
    }

    @include respond(md) {
        font-size: 1.8rem;
    }
}

a {
    color: $mountain-meadow;
    text-decoration: none;
    font-weight: 500;

    &:hover {
        color: $mountain-meadow;
        cursor: pointer;
        transition: all .3s ease-in-out;
        text-decoration: none;
    }
}