.mb-small {
    margin-bottom: 1rem;
}

.mb-medium {
    margin-bottom: 2rem;

    @include respond(md) {
        margin-bottom: 3rem;
    }

}

.mb-large {
    margin-bottom: 3rem;

    @include respond(md) {
        margin-bottom: 5rem;
    }

}

.mb-xl {
    margin-bottom: 6rem;

    @include respond(md) {
        margin-bottom: 7.5rem;
    }
}


.mb-xl-plus {
    margin-bottom: 6rem;

    @include respond(md) {
        margin-bottom: 12.5rem;
    }
}



