// COLOR VARIABLES
$darkness:#121212;
$snow-white:#FFFFFF;
$dark-slate:#242426;
$light-slate:#EBEBF0;
$light-link:#39BFA4;
$dark-link:#00b38f;

// FONT VARIABLES
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Space Mono', monospace;
