// COLOR VARIABLES
$shark:#212127;
$jumbo:#818187;
$eastern-blue: #15909F;
$mountain-meadow:#22B797;
$athens-gray:#F5F5F7;
$white:#FFFFFF;
$mercury:#E5E5E5;
$scarpa-flow:#57575C;

// FONT VARIABLES
$font-sans:'Barlow', sans-serif;
