footer {
    padding: 4rem 0 3rem 0;

    @include respond(md) {
        padding: 6.5rem 0 5rem 0;
    }

}

.social-buttons {
    list-style-type: none;
    display: inline-block;

    li {
        display: inline;
        padding: 0 1.5rem;

        @include respond(sm) {
            padding: 0 2rem;
        }

        @include respond(md) {
            padding: 0 2.5rem;
        }

        a {
            color: rgba($jumbo, 0.5);
            font-size: 3.2rem;
            text-decoration: none;

            @include respond(sm) {
                font-size: 3.8rem;
            }

            @include respond(md) {
                font-size: 4.5rem;
            }

            &:hover {
                color: $mountain-meadow;
                cursor: pointer;
                transition: all .3s ease-in-out;
                text-decoration: none;
            }
        }
    }
}