/*---------------------------------------------------------------------------
GENERAL CSS
---------------------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    font-size: 15px;
    color: #15354C;
    background-color: #f8f8f8;
    
}

body {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .0625rem;
    font-weight: 400;
    line-height: 1.625rem;
    overflow-y: scroll;
}

.row {
    margin: 0 auto;
    padding: 0 1.35rem;
}

main {
    padding-top: 3rem;

}


/*---------------------------------------------------------------------------
TYPOGRAPHY & BUTTONS
---------------------------------------------------------------------------*/

h1 {
    font-size: 1.625rem;
    letter-spacing: .1725rem;
    line-height: 2.625rem;
    margin-bottom: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.btn:link, .btn:visited {
    display: inline-block;
    padding: .625rem .9375rem;
    font-weight: 700;
    text-decoration: none;
    border: .0625rem solid #15354c;
    border-radius: .3125rem;
    color: #15354c;
    margin-right: .9375rem;
    transition: all .2s ease-in-out;
    margin: 2.35rem 0;
}

.btn:hover, .btn:active {
    color: #4BA8FF;
    border: .0625rem solid #4BA8FF;
}


/*---------------------------------------------------------------------------
NAVIGATION SECTION
---------------------------------------------------------------------------*/

nav {
    margin-top: 2.35rem;
    text-align: center;
}

#site-navigation li {
    display: inline;
    margin-right: 1.5625rem;
}

#site-navigation li:last-of-type {
    margin-right: 0;
}

#site-navigation a {
    color: #777;
    text-decoration: none;
    padding-bottom: .1875rem;
    border-bottom: .125rem solid transparent;
    transition: border 0.2s linear;
    font-weight: 600;
}

#site-navigation a:hover {
    border-bottom: .125rem solid #15354c;
    cursor: pointer;
}


/*---------------------------------------------------------------------------
INTRO SECTION
---------------------------------------------------------------------------*/

#intro-section h2 {
    font-weight: 700;
    font-size: 1rem;
    padding-bottom: .875rem;
}


/*---------------------------------------------------------------------------
PROJECTS SECTION
---------------------------------------------------------------------------*/

#projects-section {
    margin-bottom: 2rem;
}

#projects-section h2 {
    font-weight: 700;
    font-size: 1rem;
    padding-bottom: .875rem;
}

.project:first-of-type {
    padding: 0;
}

.project {
    padding: 1.5625rem 0 0 0;
    border-bottom: 1px solid #E3E2EF;
}

.project-link:link, .project-link:visited {
    display: inline-block;
    margin: 2.1875em 3.125em 0 0;
    font-weight: 700;
    color: #15354c;
    text-decoration: none;
    padding-bottom: .2em;
    border-bottom: .125rem solid transparent;
    transition: border 0.2s linear;
    font-size: .9375rem;
}

.project-link:hover, .project-link:active {
    border-bottom: .125rem solid #15354c;
}


/*---------------------------------------------------------------------------
CONNECT SECTION
---------------------------------------------------------------------------*/

#connect-section ul {
    padding: 3rem 0 0 0;
    font-size: 2.5rem;
    text-align: center;
}

#connect-section ul li {
    display: inline;
    padding-right: 1.25rem;
}

#connect-section ul li a {
    color: #15354C;
}

#connect-section ul li:last-child {
    padding-right: 0;
}

#connect-section ul li i {
    transition: all .3s ease-in-out;
}

#connect-section ul li i:hover {
    transform: scale(1.2);
    color: #4BA8FF;
    cursor: pointer;
}


/*---CONNECT FORM---*/

.form-connect {
    margin: 0 0 2.625rem 0;
}

::-webkit-input-placeholder {
    /* Chrome */
    color: #15354C;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: .125rem;
    font-weight: 700;
    font-size: .875rem;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #15354C;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: .125rem;
    font-weight: 700;
    font-size: .875rem;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #15354C;
    opacity: 1;
    color: #15354C;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: .125rem;
    font-weight: 700;
    font-size: .875rem;
}

:-moz-placeholder {
    /* Firefox 4 - 18 */
    color: #15354C;
    opacity: 1;
    color: #15354C;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: .125rem;
    font-weight: 700;
    font-size: .875rem;
}

.form-connect input[type="text"], .form-connect input[type="email"], .form-connect textarea, .form-connect select {
    outline: none;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1rem;
    border: .0625em solid #15354C;
    padding: .625rem;
}

.form-connect input[type="text"]:focus, .form-connect input[type="email"]:focus, .form-connect textarea:focus, .form-connect select:focus {
    box-shadow: 0 0 .3125em #4BA8FF;
    padding: .625rem;
    border: .0625em solid #4BA8FF;
}

input[type=submit] {
    padding: .625rem .9375rem;
    text-decoration: none;
    border: .0625rem solid #15354c;
    border-radius: .3125rem;
    color: #15354c;
    margin-right: .9375rem;
    margin: 1.35rem 0 0 0;
    cursor: pointer;
    background-color: #fff;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: .125rem;
    font-size: .875rem;
    font-weight: 700;
}

input[type=submit]:hover {
    color: #4BA8FF;
    border: .0625rem solid #4BA8FF;
}


/*---------------------------------------------------------------------------
MEDIA QUERIES
---------------------------------------------------------------------------*/

@media only screen and (min-width: 360px) {
    html {
        /*        font-size: 16px;*/
    }
}

@media only screen and (min-width: 768px) {
    .row {
        max-width: 40.625rem;
        padding: 0 3.125rem;
    }
}

@media only screen and (min-width: 992px) {
    main {
        padding-top: 4.25rem;
    }
    nav {
        margin-top: 5rem;
    }
    .btn:link, .btn:visited {
        margin: 3.35rem 0;
    }
}

@media only screen and (min-width: 1920px) {
    html {
        /*        font-size: 17px;*/
    }
}


/*---------------------------------------------------------------------------
CARDS
---------------------------------------------------------------------------*/

.card {
    padding: 2.5rem;
    border: .0625rem solid #f2f2f2;
    background: #FFF;
    margin-bottom: 1.875rem;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
    transition: all 0.3s;
}

.card:hover {
    transform: translateY(-.625rem);
    box-shadow: 0 1.375rem 2.6875rem rgba(0, 0, 0, 0.15);
}
